**{
  margin: 0px;
  padding: 0px;
}

.content-cart {
    margin-top: 60px;
}
.content-cart table, th, td {
  border:1px solid black;
}

.content-cart th {
    padding: 5px 30px;
}
.content-cart td {
  position: relative;
  padding: 21px 30px;
}

.content-cart  img {
  width: 45%;
  position: absolute;
  margin-top: -17px;
}
.content-cart input.cart-quantity-input.change {
  width: 10%;
}