
        .main_title {
            font-size: 12px;
            margin-top: 20px;
        }

        .main_title ul {
            list-style: none;
            display: block;
        }

        .main_title ul li {
            float: left;
        }

        .main_title ul li a {
            line-height: 40px;
            font-size: 18px;
            font-weight: 600;
            color: #555;
            padding: 0px 10px;
            font-family: 'sans-serif';
        }

        .main_title ul li a:hover {
            color: red;
        }

        .filter {
            border: 1px solid #EEE;
        }

        .filter h3 {
            text-align: left;
            line-height: 32px;
            padding: 5px;
            font-size: 20px;
            font-weight: 500;
            background: #243a76;
            color: #fff;
        }

        .filter ul li {
            display: block;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .filter ul li a {
            display: block;
            font-size: 0.8em;
            padding: 8px 15px;
            color: #9C9C9C;
            font-family: 'inherit';
            margin: 0 20px;
            background: url(./images/drop_arrow.png) no-repeat 0;
            border-bottom: 1px solid #EEE;
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;
        }

        .filter ul li a:hover {
            color: red;
        }

        .content_category {
            margin-top: -7px;
        }

        .grid_1_of_4:nth-child(5) {
            margin-left: 0;
        }

        .grid_1_of_4:nth-child(9) {
            margin-left: 0;
        }
		.rightsidebar.span_3_of_1 {
			margin-top: 28px;
		}
