*{
    margin: 0px;
    padding: 0px;
  }
  
  .form-info input[type="submit"] {
      width: 101px;
      margin-top: 15px;
      height: 30px;
      display: inline-block;
  }
  
  
  
  .form-info input#address {
      height: 80px;
  }
  
  
  .form-info form {
      line-height: 37px;
  }
  
  .form-info input {
      display: inherit;
      height: 23px;
      width: 100%;
      margin-bottom: 17px;
  }
  
  
  
  .form-info img {
      width: 71%;
      float: right;
  }
  
  .form-info .infor-right {
      margin-top: 20px;
      width: 49%;
      float: right;
  }
  
  .form-info .info-left {
      float: left;
      width: 50%;
      line-height: 60px;
      float: left;
  }
  
  .form-info {
      width: 94%;
      padding: 16px 25px;
      justify-content: space-between;
  }
  
   .content-info {
      height: 690px;
      width: 100%;
  }
  
  .main_title {
      width: 1215.350px;
      height: 40px;
      border-radius: 5px;
      border: 0.5px #eceaea solid;
      background-color: #F5F5F5;
  }
  
  .content-info {
      background-color: aliceblue;
      margin: 8px 0px;
  }